# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# IDE/editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment variables
.env

# Database
db.sqlite3

# Django migrations (optional)
*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py

# Static files (if you collect them in production)
staticfiles/
media/
